# Comparison Operators in Python

In [1]:
2 == 2

True

In [2]:
2 == 1

False

We use double equal sign, because python will think we are trying to assign a variable if we only use a single one.

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

You can also apply booleans to string. Remember that upper case letters count as a difference as shown above.

In [5]:
'2' == 2

False

If you type a number within a string and use a boolean to see if they're the same, it will see it as a False.

In [7]:
2.0 == 2

True

Doesn't count if we try to compare a floating point and a integer, if it's the same value.

In [8]:
3 != 3

False

We use '!' in a boolean to check if it is 'not eaual' to another thing. Such as the example above.

In [9]:
4 != 5

True

In [10]:
2 > 1

True

In [11]:
1 > 2

False

In [12]:
1 < 2

True

In [13]:
2 < 5

True

In [14]:
2 >= 2

True

we also have 'greater than or equal to' by using '>=' or 'less than or equal' to by using '<='.

In [15]:
4 <= 1

False

# Logical Operators

We can use logical operators to combine comparisons such as:
* and
* or
* not

In [16]:
1 < 2

True

In [17]:
2 < 3

True

In [18]:
1 < 2 < 3

True

In [19]:
1 < 2 > 3

False

In [20]:
1 < 2 and 2 < 3

True

In [22]:
('h' == 'h') and (2 == 2)

True

In [23]:
'h' == 'h' and 2 == 2

True

In [24]:
1 == 1 or 2 == 2

True

In [25]:
100 == 1 or 2 == 2

True

With the 'or' statement only one of the conditions needs to be true.

In [26]:
100 == 1 or 2 == 200

False

In [27]:
1 == 1

True

In [28]:
not(1 == 1)

False

In [29]:
not 1 == 1

False

The 'not' statement is asking for the opposite boolean of whatever was returned.

In [30]:
400 > 5000

False

In [31]:
not(400 > 5000)

True

# Quiz

In [33]:
2 < 4

True

In [34]:
a = 12
b = a-10
a > b

True

In [35]:
12 != 12

False

In [36]:
2 < 3 > 10

False

In [37]:
2 <= 3 >= 1

True