In [1]:
print('hello')

hello

In [2]:
print('new')

new

Here you can write down notes

In [3]:
print('new')

new

# Variable Assignments

In [4]:
a = 5

In [5]:
a

5

In [6]:
a = 10

In [7]:
a

10

In [8]:
a + a

20

In [9]:
a = a + a

In [10]:
a

20

In [11]:
type(a)

int

In [12]:
a = 30.1

In [13]:
type(a)

float

In [14]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [15]:
my_taxes

10.0

# Strings

In [16]:
'hello'

'hello'

In [17]:
"world"

'world'

In [18]:
'this is also a string'

'this is also a string'

In [19]:
" I'm going on a run "

" I'm going on a run "

In [20]:
print("hello")

hello

In [21]:
"hello world one"
"hello world two"

'hello world two'

In [22]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [23]:
print('hello \n world')

hello
 world

In [24]:
print('hello \nworld')

hello
world

In [25]:
print('hello \tworld')

hello 	world

In [26]:
len('hello')

5

In [27]:
len('I am hungry')

11

# Indexing & slicing

In [28]:
mystring = "Hello World"

In [29]:
mystring

'Hello World'

In [30]:
mystring[0]

'H'

In [31]:
mystring[8]

'r'

In [32]:
mystring[9]

'l'

In [33]:
mystring[-2]

'l'

In [34]:
mystring[-3]

'r'

In [35]:
mystring[-1]

'd'

In [36]:
mystring

'Hello World'

In [37]:
mystring = 'abcdefghijk'

In [38]:
mystring

'abcdefghijk'

In [39]:
mystring[2]

'c'

In [40]:
mystring[2:]

'cdefghijk'

In [41]:
mystring[:3]

'abc'

In [42]:
mystring[3:6]

'def'

In [43]:
mystring[1:3]

'bc'

In [44]:
mystring[::]

'abcdefghijk'

In [45]:
mystring[2:7:2]

'ceg'

In [46]:
mystring[::-1]

'kjihgfedcba'

In [47]:
mystring = "Hello World"

In [48]:
mystring[-2]

'l'

In [49]:
mystring = 'Hello World'

In [50]:
mystring[8]

'r'

In [51]:
name = "Sam"

In [52]:
name[0]

'S'

In [53]:
# name[0] = 'P'

In [54]:
last_letters = name[1:]

In [55]:
last_letters

'am'

In [56]:
'P' + last_letters

'Pam'

In [57]:
x = 'Hello World'

In [58]:
x + " it is beautiful outside! "

'Hello World it is beautiful outside! '

In [59]:
x = x + " it is beautiful outside "

In [60]:
x

'Hello World it is beautiful outside '

In [61]:
letter = 'z'

In [62]:
letter * 10

'zzzzzzzzzz'

In [63]:
2 + 3

5

In [64]:
'2' + '3'

'23'

In [65]:
x = 'Hello World'

In [66]:
x.upper()

'HELLO WORLD'

In [67]:
x

'Hello World'

In [68]:
x.upper()

'HELLO WORLD'

In [69]:
x.lower()

'hello world'

In [70]:
x.split()

['Hello', 'World']

In [71]:
x = 'Hi this is a string'

In [72]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [73]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [74]:
print('hello')

hello

In [75]:
print('this is a string{}'.format(' INSERTED'))

this is a string INSERTED

In [76]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [77]:
print('the {2} {1} {0}'.format('fox','brown','quick'))

the quick brown fox

In [78]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [79]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q='quick'))

The fox fox fox

In [80]:
result = 100/777

In [81]:
result

0.1287001287001287

In [82]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [83]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [84]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [85]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [86]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [87]:
result = 104.12345

In [88]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [89]:
name = "Jose"

In [90]:
name

'Jose'

In [91]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [92]:
name = "Sam"
age = 3

In [93]:
print(f'{name} is {age} years old')

Sam is 3 years old

# Lists

In [94]:
my_list =[1,2,3]

In [95]:
my_list = ['STRING',100,23.2]

In [96]:
len(my_list)

3

In [97]:
mylist = ['one','two','three']

In [98]:
mylist[0]

'one'

In [99]:
mylist[1:]

['two', 'three']

In [100]:
mylist

['one', 'two', 'three']

In [101]:
another_list = ['four','five']

In [102]:
mylist +another_list

['one', 'two', 'three', 'four', 'five']

In [103]:
new_list = mylist + another_list

In [104]:
new_list

['one', 'two', 'three', 'four', 'five']

In [105]:
new_list[0] = 'ONE ALL CAPS'

In [106]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [107]:
new_list.append('six')

In [108]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [109]:
new_list.append('seven')

In [110]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [111]:
new_list.pop()

'seven'

In [112]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [113]:
popped_item = new_list.pop()

In [114]:
popped_item

'six'

In [115]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [116]:
new_list.pop(0)

'ONE ALL CAPS'

In [117]:
new_list

['two', 'three', 'four', 'five']

In [118]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [119]:
new_list.sort()

In [120]:
new_list

['a', 'b', 'c', 'e', 'x']

In [121]:
num_list.sort()

In [122]:
num_list

[1, 3, 4, 8]

In [123]:
my_sorted_list = new_list.sort()

In [124]:
type(my_sorted_list)

NoneType

In [125]:
None

In [126]:
new_list.sort()
my_sorted_list = new_list

In [127]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [128]:
num_list.reverse()

In [129]:
num_list

[8, 4, 3, 1]

In [130]:
lst=[0,1,2]

In [131]:
lst.pop()

2

In [132]:
lst

[0, 1]

In [133]:
lst=['a','b','c']

In [134]:
lst[1:]

['b', 'c']

# Dictionaries

In [135]:
my_dict = {'key1':'value1','key2':'value2'}

In [136]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [137]:
my_dict['key1']

'value1'

In [138]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [139]:
prices_lookup['apple']

2.99

In [140]:
prices_lookup['oranges']

1.99

In [141]:
prices_lookup['milk']

5.8

In [142]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [143]:
d['k2']

[0, 1, 2]

In [144]:
d['k3']

{'insideKey': 100}

In [145]:
d['k3']['insideKey']

100

In [146]:
d['k2'][2]

2

In [147]:
d = {'key1':['a','b','c']}

In [148]:
mylist = d['key1']

In [149]:
mylist

['a', 'b', 'c']

In [150]:
letter = mylist[2]

In [151]:
letter

'c'

In [152]:
letter.upper()

'C'

In [153]:
d['key1'][2].upper()

'C'

In [154]:
d = {'k1':100,'k2':200}

In [155]:
d

{'k1': 100, 'k2': 200}

In [156]:
d['k3'] = 300

In [157]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [158]:
d['k1'] = 'NEW VALUE'

In [159]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [160]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [161]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [162]:
d.values()

dict_values([100, 200, 300])

In [163]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [164]:
d = {'k1':[1,2,3]}

In [165]:
d['k1'][1]

2

# Tuples

In [166]:
t = (1,2,3)

In [167]:
mylist = [1,2,3]

In [168]:
type(t)

tuple

In [169]:
type(mylist)

list

In [170]:
len(t)

3

In [171]:
t

(1, 2, 3)

In [172]:
t = ('one',2)

In [173]:
t[0]

'one'

In [174]:
t[-1]

2

In [175]:
t = ('a','a','b')

In [176]:
t.count('a')

2

In [177]:
t.index('a')

0

In [178]:
t.index('b')

2

In [179]:
t

('a', 'a', 'b')

In [180]:
mylist

[1, 2, 3]

In [181]:
mylist[0] = 'NEW'

In [182]:
mylist

['NEW', 2, 3]

In [183]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# Set

In [184]:
myset = set()

In [185]:
myset

set()

In [186]:
myset.add(1)

In [187]:
myset

{1}

In [188]:
myset.add(2)

In [189]:
myset

{1, 2}

In [190]:
myset.add(2)

In [191]:
myset

{1, 2}

In [192]:
mylist = [1,1,1,1,1,2,2,2,3,3,3,3]

In [193]:
set(mylist)

{1, 2, 3}

In [194]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [195]:
True

True

In [196]:
False

False

In [197]:
type(False)

bool

In [198]:
type(True)

bool

In [199]:
1 > 2

False

In [200]:
1 == 1

True

In [201]:
b =  None

In [202]:
b

In [203]:
set([1,1,2,3])

{1, 2, 3}

In [204]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [205]:
myfile = open('myfile.txt')

In [206]:
myfile = open('whoops')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops'

In [207]:
pwd

'C:\\Users\\lasse\\Documents'

In [208]:
myfile = open('myfile.txt')

In [209]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [210]:
myfile.read()

''

In [211]:
myfile.seek(0)

0

In [212]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [213]:
myfile.seek(0)

0

In [214]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [215]:
myfile.seek(0)

0

In [216]:
contents = myfile.read()

In [217]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [218]:
myfile.seek(0)

0

In [219]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [220]:
pwd

'C:\\Users\\lasse\\Documents'

In [221]:
myfile.close()

In [222]:
myfile = open('myfile.txt')

In [223]:
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [224]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [225]:
with open ('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [226]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [227]:
with open ('myfile.txt',mode='a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [228]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [229]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [237]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [238]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTHFOUR ON FOURTH

In [239]:
with open('dhfjdkshfjdks.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [241]:
with open('dhfjdkshfjdks.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!