# If, elif & else Statements in Python

Examples of boolean & number statement

In [5]:
if True:
    print('ITS TRUE')

ITS TRUE

In [4]:
if 3>2:
    print('ITS TRUE')

ITS TRUE

In [7]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [8]:
hungry = False

if hungry:
    print('FEED ME!')

We need to lineup our 'if' and 'else' statements in order for them to be executed. Meaning they need to be at the same indetation in our code.

In [10]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

In [11]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

FEED ME!

In [12]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
else:
    print("I do not know much.")

I do not know much.

In [14]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [17]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Money is cool

In [18]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [24]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

In [23]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Frankie!

In [22]:
name = 'Jos√©'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

# For Loops in Python

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [5]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [6]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [7]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [10]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [15]:
for ghghg in 'Hello World':
    print(ghghg)

H
e
l
l
o

W
o
r
l
d

In [18]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [19]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [20]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [21]:
len(mylist)

4

In [24]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [25]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

The above example is demonstrating tuple unpacking

In [27]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [28]:
for a,b in mylist:
    print(a)

1
3
5
7

In [29]:
for a,b in mylist:
    print(b)

2
4
6
8

In [30]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [31]:
for a,b,c in mylist:
    print(b)

2
6
9

In [33]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [36]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
d = {'k1':1,'k2':2,'k3':3}

for key, value in d.items():
    print(value)

1
2
3

In [38]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

# While Loops

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

If you get an infinite while loop use either interrupt or restart the cell.

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [3]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [5]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

# Break, continue, pass

We can use  break, continue, & pass statements in our loops to add additional functionality for various cases. The three statements are defined by:
    
    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.

In [6]:
x = [1,2,3]

for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-6-2f2e37c9607a>, line 4)

In [7]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [8]:
mystring = 'Sammy'

In [9]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [10]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [11]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [12]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Usefull Operators

In [1]:
mylist = [1,2,3]

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
range(0,11,2)

range(0, 11, 2)

In [8]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [10]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [13]:

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [18]:

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [22]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [23]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [30]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [31]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [28]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [29]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [35]:
'x' in [1,2,3]

False

In [37]:
'x' in ['x','y','z']

True

In [38]:
'a' in 'a world'

True

In [39]:
'mykey' in {'mykey':345}

True

In [42]:
d = {'mykey':345}

345 in d.values()

True

In [43]:
mylist = [10, 20, 30, 40, 100]

In [44]:
min(mylist)

10

In [45]:
max(mylist)

100

In [46]:
from random import shuffle

In [47]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [50]:
shuffle(mylist)

In [51]:
mylist

[4, 3, 2, 6, 5, 9, 7, 1, 8, 10]

In [52]:
random_list = shuffle(mylist)

In [53]:
type(random_list)

NoneType

In [61]:
from random import randint

In [62]:
randint(0,100)

69

In [63]:
randint(0,100)

39

In [64]:
mynum = randint(0,10)

In [65]:
mynum

6

In [66]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [68]:
result = input('What is your name? ')

What is your name? Lasse

In [69]:
result

'Lasse'

In [71]:
result = input('Favorite Number: ')

Favorite Number: 30

In [72]:
result

'30'

In [73]:
type(result)

str

In [74]:
float(result)

30.0

In [75]:
int(result)

30

# List Comprehension

In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x for x in 'word']

In [7]:
mylist

['w', 'o', 'r', 'd']

In [8]:
mylist = [qwe for qwe in 'word']

In [9]:
mylist

['w', 'o', 'r', 'd']

In [11]:
mylist = [x for x in range (0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
mylist = [num for num in range (0,11)]

In [17]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
mylist = [num**2 for num in range (0,11)]

In [19]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
mylist = [x for x in range(0,11) if x%2==0]

In [22]:
mylist

[0, 2, 4, 6, 8, 10]

In [23]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [24]:
mylist

[0, 4, 16, 36, 64, 100]

In [26]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [27]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [28]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [29]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [30]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [32]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [33]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [34]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [35]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [36]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [37]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [38]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]